---
---

<section class="about" id="about">
  <div class="container">
    <div class="greeting-container">
      <p class="greeting">Hola 游녦, <br>Soy Alejandro 츼vila</p><br>
      <h4 class="heading-4">Desarrollador web <br/>y Dise침ador gr치fico</h4>
    </div>
    <div class="paragraph-container">
      <p class="paragraph">Soy un apasionado de la tecnolog칤a y el dise침o. Autodidacta, con una mente curiosa y siempre dispuesto a aprender.</p><br>
      <p class="paragraph">Gracias a mis conocimientos en programaci칩n y habilidades en dise침o gr치fico me permiten crear soluciones efectivas y atractivas para los usuarios.</p><br>
      <p class="paragraph">Me apasiona crear interfaces intuitivas y est칠ticamente agradables, usando nuevas tecnolog칤as, con el objetivo de generar soluciones innovadoras que optimicen las interacciones y mejoren la experiencia de los usuarios.</p>
    </div>
  </div>
</section>

<style>
.about {
    margin-top: 3rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 0 1rem;
  gap: 2rem;
}

@media (width < 920px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}

.greeting-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.greeting {
  font-size: var(--p-web-big);
  font-weight: var(--p-medium);
}

.heading-4 {
  font-size: var(--h4-web);
  line-height: var(--headings-lineheight);
}

.paragraph {
  font-size: var(--p-web-big);
  font-weight: var(--p-regular);
}
</style>
