---
import TechnologyCard from '../TechnologyCard.astro';
import { technologies } from '../../data/data.ts';
---

<section class="about" id="about">
  <div class="container">
    <div class="composition-container">
      <div class="profile-container">
        <div class="greeting-container">
          <p class="greeting">Hola 游녦, <br>Soy Alejandro 츼vila</p><br>
          <h4 class="heading-4">Desarrollador web <br/>y Dise침ador gr치fico</h4>
        </div>
        <div class="paragraph-container">
          <p class="paragraph">Soy un apasionado de la tecnolog칤a y el dise침o. Autodidacta, con una mente curiosa y siempre dispuesto a aprender.</p><br>
          <p class="paragraph">Gracias a mis conocimientos en programaci칩n y habilidades en dise침o gr치fico me permiten crear soluciones efectivas y atractivas para los usuarios.</p><br>
          <p class="paragraph">Me apasiona crear interfaces intuitivas y est칠ticamente agradables, usando nuevas tecnolog칤as, con el objetivo de generar soluciones innovadoras que optimicen las interacciones y mejoren la experiencia de los usuarios.</p>
        </div>
      </div>
      <div class="window-container">
        <div class="window-top">
          <div class="buttons">
            <div class="ui-button"></div>
            <div class="ui-button"></div>
            <div class="ui-button"></div>
          </div>
        </div>
        <div class="window-bottom">
          <div class="tech-container">
            {
            technologies.map((technology) => (
            <TechnologyCard name={technology.name} icon={technology.icon} />
            ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
.about {
    margin-top: 11rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 0 1rem;
  gap: 2rem;
}

@media (width < 920px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}

.composition-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
}

@media (width < 920px) {
  .profile-container {
    flex-direction: column;
    align-items: center;
  }
}

.greeting-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  min-width: 20.5rem;
}

.paragraph-container {
  max-width: 80rem;
}

.greeting {
  font-size: var(--p-web-big);
  font-weight: var(--p-medium);
}

.heading-4 {
  font-size: var(--h4-web);
  line-height: var(--headings-lineheight);
}

.paragraph {
  font-size: var(--p-web-big);
  font-weight: var(--p-regular);
}

.window-container {
  margin-top: 7rem;
}

.window-top {
  border: .1rem solid var(--primary-50);
  border-radius: 1rem 1rem 0 0;
  background: var(--low-linear-gradient);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin: 1rem 0 1rem 1rem;
  gap: .5rem;
}

.ui-button {
  background: var(--primary-50);
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}

.window-bottom {
  border: .1rem solid var(--primary-50);
  border-radius: 0 0 1rem 1rem;
}

.tech-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

</style>
