---

---

<section class="home" id="home">
  <div class="name-container">
    <div class="name-text-top">
      <h2 class="heading-home headings-lineheight">ALEJANDRO</h2>
    </div>
    <div class="name-text-bottom">
      <h2 class="heading-home headings-lineheight">ÁVILA</h2>
    </div>
  </div>
  <div class="marquees__container">
    <div class="marquee marquee__top">
      <ul class="marquee__content">
        <li>
          <span class="marquee__text">BIENVENIDO A MI PORTFOLIO</span>
        </li>
        <li>
          <span class="marquee__text">👋</span>
        </li>
        <li>
          <span class="marquee__text">BIENVENIDO A MI PORTFOLIO</span>
        </li>
        <li>
          <span class="marquee__text">✌️</span>
        </li>
        <li>
          <span class="marquee__text">BIENVENIDO A MI PORTFOLIO</span>
        </li>
        <li>
          <span class="marquee__text">🤙</span>
        </li>
      </ul>
      <ul class="marquee__content" aria-hidden="true">
        <li>
          <span class="marquee__text">BIENVENIDO A MI PORTFOLIO</span>
        </li>
        <li>
          <span class="marquee__text">👋</span>
        </li>
        <li>
          <span class="marquee__text">BIENVENIDO A MI PORTFOLIO</span>
        </li>
        <li>
          <span class="marquee__text">✌️</span>
        </li>
        <li>
          <span class="marquee__text">BIENVENIDO A MI PORTFOLIO</span>
        </li>
        <li>
          <span class="marquee__text">🤙</span>
        </li>
      </ul>
    </div>
    <div class="marquee marquee__bottom">
      <ul class="marquee__content">
        <li>
          <span class="marquee__text">BIENVENIDO A MI PORTFOLIO</span>
        </li>
        <li>
          <span class="marquee__text">👋</span>
        </li>
        <li>
          <span class="marquee__text">BIENVENIDO A MI PORTFOLIO</span>
        </li>
        <li>
          <span class="marquee__text">✌️</span>
        </li>
        <li>
          <span class="marquee__text">BIENVENIDO A MI PORTFOLIO</span>
        </li>
        <li>
          <span class="marquee__text">🤙</span>
        </li>
      </ul>
      <ul class="marquee__content" aria-hidden="true">
        <li>
          <span class="marquee__text">BIENVENIDO A MI PORTFOLIO</span>
        </li>
        <li>
          <span class="marquee__text">👋</span>
        </li>
        <li>
          <span class="marquee__text">BIENVENIDO A MI PORTFOLIO</span>
        </li>
        <li>
          <span class="marquee__text">✌️</span>
        </li>
        <li>
          <span class="marquee__text">BIENVENIDO A MI PORTFOLIO</span>
        </li>
        <li>
          <span class="marquee__text">🤙</span>
        </li>
      </ul>
    </div>
  </div>
</section>

<style>
.home {
  background-image: url("/images/mesh-970.png");
  background-position: center;
  height: 100dvh;
  width: 100%;
  position: relative;
}

.marquees__container {
  z-index: 1;
}

.name-container {
  height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.marquee {
  --gap: 1rem;
  font-family: var(--headings-font);
  font-size: var(--h4-web);
  background-color: var(--neutral-950);
  display: flex;
  overflow: hidden;
  gap: var(--gap);
  width: 100%;

  border-block: .2rem solid var(--primary-500);
  padding: .5rem 0;
}

@media (width < 630px) {
  .marquee {
    font-size: var(--h4-mobile);
  }
}

.marquee__content {
  list-style: none;
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: var(--gap);
  animation: scroll 15s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.marquee__top {
  position: absolute;
  top: 0;
  color: var(--primary-500);
}

.marquee__bottom {
  position: absolute;
  bottom: 0;
  color: var(--primary-500);
}

.name-text-top {
  position: absolute;
  top: 0;
  color: var(--primary-500);
}

.name-text-bottom {
  position: absolute;
  bottom: 0;
  color: var(--primary-500);
}

.heading-home {
  font-size: 26rem;
  line-height: var(--headings-lineheight);
}

@media (width < 1150px) {
  .heading-home {
    font-size: 18rem;
    line-height: 100%;
  }
}

@media (width < 850px) {
  .heading-home {
    font-size: 11.5rem;
    line-height: 100%;
  }
}
</style>
