---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Alejandro Ãvila Portfolio | Web Developer & Graphic Designer"
>
  <h1 class="h1-web">Hello world!</h1>
  <p class="p-web-big p-regular">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit deleniti obcaecati sit? Quae nisi accusamus iusto ea dignissimos in ex est blanditiis assumenda! Quaerat corrupti maxime tempore repudiandae eos illo?</p>
</MainLayout>
