---
interface Props {
  name: string;
  icon: string;
}

const { name, icon } = Astro.props as Props;
---

<div class="container">
  <div class="tech">
    <img src={icon} alt={name}/>
    <p>{name}</p>
  </div>
</div>

<style>
  .container {
    margin: 2rem;
  }

  .tech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 10rem;
    min-height: 10rem;
    background: var(--low-linear-gradient);
    border-radius: 1rem;
    font-family: var(--paragraph-font);
    font-size: var(--p-web-big);
    font-weight: var(--p-regular);
  }
  
  .tech img {
    margin-bottom: .8rem;
    width: 4.5rem;
  }
</style>
